
header {
    background-color: #131313;
}
img {
    display: block;
}

@media (min-width: 1000px) and (max-width: 1300px) {
    h1 {
        font-size: 1.2rem;
    }
}
@media (max-width: 1000px) {
    header {
        padding: 5% 5% 5% 5%;
    }
}