.two_col {
    display: grid;
    grid-template-columns: 2fr 1fr;

}
.two_col_item {
    display: grid;
    grid-template-columns: 1fr 2fr;
}
img {
    display: block;
}
.adjust_size_num_two {
    height: 100%;
}
.adjust_size_num_six {
    height: 100%;
}
.adjust_size_num_eight {
    height: 100%;
}
@media (max-width: 1000px) {
    .two_col {
        grid-template-columns: 1fr;
    }
    .two_col_item {
        grid-template-columns: 1fr;
    }
@media (min-width: 1000px) and (max-width: 1300px) {
    h1 {
        font-size: 1.2rem;
    }
}